.text-info {
  color: #6ce6e6 !important;
}

.page-footer.dark {
  background-color: rgba(49,185,255,0);
}

.page-footer.dark .footer-copyright {
  background-color: #004c52;
  border-color: #004c52;
}

.page-footer.dark .footer-copyright p {
  color: #ffffff;
}

form {
  background: rgb(255,255,255);
}

